*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(247, 190, 243) 3%, rgb(167, 206, 245) 38%, rgb(127, 236, 229) 68%, rgb(238, 154, 95) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}


/* ------------------------------------------------- */
.nav{
    background: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px;
}
.nav a{
    text-decoration: none;
    font-size: 17px;
    margin: 0px 0px;
    padding: 30px 14px;
    transition:all 1s ease-in-out;
    color:#7e57c2;
}
.nav a:hover{
    background:#e0e0e0;
}
.nav img{
    height:5em;
}
.right {
    padding: 23px;
}

/* --------------------------------------------- */


#links{
    display: flex;
    align-items: center;
    justify-content: center;
}
#links li{
    list-style: none;
    padding: 0 40px;
    font-size: 20px;
}
#links li a{
    font-family: 'Neucha';
    font-weight: 1000;
    text-decoration: none;
    /* transition: 0.7s ease-in-out; */
}
#links li a:hover,#links li a.active{
    border-bottom: 3px solid yellow;
    
}

#back{
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    height: 450px;
    padding: 30px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    background-color: rgb(251 183 183 / 78%);
    color: white;
}
input{
    margin: 5px auto;
    width: 300px;
    height: 25px;
    text-align: center;
    font-size: 17px;
    border-radius: 20px;
    border: none;
}
textarea{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    font-size: 17px;
}
#form{
    text-align: center;
}
#form button{
    width: 100px;
    padding: 5px;
    font-size: 15px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Neucha';
}
#form button:hover{
    background-color: rgb(83, 83, 83);
    cursor: pointer;
}
#form h1{
    color: black;
}
#contact h1{
    font-size: 35px;
}
#contact{
    height: 415px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    /* background-color: black; */
    /* color: white; */
    padding-left: 20px;
}
#newsletter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 127px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.767);
}
#newsletter h1{
    font-size: 33px;
    color: rgb(246, 255, 0);
}
#newsletter p{
    font-size: 20px;
    color: white;
}
#newsletter p span{
    color: rgb(4 4 112);
}
#newsletter button{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: rgb(4 4 112);
    color: white;
    font-size: 17px;
    box-shadow: 5px 5px 10px black;
}

#newsletter button:hover{
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}